@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

.dark body {
  background-color: #1b1e24; /* Dark background */
  color: white; /* Dark text */
}

.heading-font {
  font-family: 'Cinzel', sans-serif;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: white;
  opacity: 0.8;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-fall {
  animation: fall linear infinite;
}

.text-shine {
  display: inline-block;
  background: linear-gradient(
    90deg,
    #b5b5b5 0%,
    #f5f5f5 35%,
    #ffffff 45%,
    #e6e6e6 50%,
    #ffffff 55%,
    #f5f5f5 65%,
    #b5b5b5 100%
  );

  background-size: 250% auto;
  background-position: -125% center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: text-shine 3.5s linear infinite;
}

.floating-heart {
  position: absolute;
  bottom: 0;
  animation: floatUp linear infinite;
}


@keyframes text-shine {
  0% {
    background-position: -125% center;
  }
  100% {
    background-position: 125% center;
  }
}

@keyframes fall {
  to {
    transform: translateY(120vh);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-120px) scale(1);
    opacity: 0;
  }
}


