@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

.dark body {
  background-color: #1b1e24; /* Dark background */
  color: white; /* Dark text */
}

.heading-font {
  font-family: 'Cinzel', sans-serif;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: white;
  opacity: 0.8;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-fall {
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(120vh);
  }
}



